<div class="flex-cn pdf">
  <div id="page1">
    <div class="main">
      <header>
        <img src="../assets/images/abcmobile2x.png" />
      </header>
      <div class="select">
        <img src="../assets/images/Honoured2x.2cdc45854e1cb10a644f.png" />
      </div>
      <div class="name flex-s">
        <h2>
          Dear
          <span>Vivek Gangwal!</span>
        </h2>
        <h2>
          Your Select Dashboard As on :
          <span>20/11/2019</span>
        </h2>
      </div>
      <div class="grid">
        <div class="box flex-u">
          <div class="line1">
            <h1>Select Points</h1>
          </div>
          <div class="line2 flex-s">
            <h1>Level 2</h1>
            <div>
              <img src="../assets/images/leaflogo.png" />
              <img src="../assets/images/leaflogo.png" />
              <img src="../assets/images/leaflogo.png" />
              <img src="../assets/images/leaflogo.png" />
            </div>
          </div>
          <div class="line3 flex-l">
            <h1>Total Select Points</h1>
            <h2>2,45,000</h2>
          </div>
          <div class="line4 flex-s">
            <div class="flex-l">
              <h1>Primary Points</h1>
              <h2>2,45,000</h2>
            </div>
            <div class="flex-l" style="width: 47%">
              <h1>Total Secondary Points</h1>
              <h2>2,45,000</h2>
            </div>
          </div>
          <div class="line5 flex-r">
            <div>
              <h2>
                Secondary points:
                <span>28,000</span>
              </h2>
              <h2>
                Activation Bonus:
                <span>2,000</span>
              </h2>
            </div>
          </div>
        </div>
        <div class="box flex-u">
          <div class="line1 flex-s">
            <h1>Business Empanelment</h1>
            <h2>7 / 10</h2>
          </div>
          <div class="line6 flex-s">
            <div style="display: flex">
              <img
                src="../assets/images/download-free-png-correct-prompt-correct-right-icon-with-png-and-right-icon-png-512_512.png"
              />
              <h1>ABFL CMG (INT000079)</h1>
            </div>
            <div style="display: flex">
              <img
                src="../assets/images/download-free-png-correct-prompt-correct-right-icon-with-png-and-right-icon-png-512_512.png"
              />
              <h1>ABFL- MORTGAGE (DAL)</h1>
            </div>
          </div>
          <div class="line6 flex-s">
            <div style="display: flex">
              <img
                src="../assets/images/download-free-png-correct-prompt-correct-right-icon-with-png-and-right-icon-png-512_512.png"
              />
              <h1>ABHIL (ABH1101621)</h1>
            </div>
            <div style="display: flex">
              <img
                src="../assets/images/download-free-png-correct-prompt-correct-right-icon-with-png-and-right-icon-png-512_512.png"
              />
              <h1>ABFL RETAIL LENDING</h1>
            </div>
          </div>
          <div class="line6 flex-s">
            <div style="display: flex">
              <img
                src="../assets/images/download-free-png-correct-prompt-correct-right-icon-with-png-and-right-icon-png-512_512.png"
              />
              <h1>ABML (U48)</h1>
            </div>
            <div style="display: flex">
              <img
                src="../assets/images/download-free-png-correct-prompt-correct-right-icon-with-png-and-right-icon-png-512_512.png"
              />
              <h1>ABIBL (AB001354)</h1>
            </div>
          </div>
          <div class="line6 flex-s">
            <div style="display: flex">
              <img
                src="../assets/images/download-free-png-correct-prompt-correct-right-icon-with-png-and-right-icon-png-512_512.png"
              />
              <h1>ABHFL (DAA42164443)</h1>
            </div>
          </div>
          <div class="line7 flex-u">
            <h1>New Business Opportunity</h1>
            <div>
              <div style="display: flex">
                <div style="display: flex">
                  <img
                    src="../assets/images/38574eba786fcf19be20a3974c281202-office-bag-icon-by-vexels.png"
                  />
                  <h1>ABSLAMC</h1>
                </div>
                <div style="display: flex">
                  <img
                    src="../assets/images/38574eba786fcf19be20a3974c281202-office-bag-icon-by-vexels.png"
                  />
                  <h1>ABHFL SME</h1>
                </div>
                <div style="display: flex">
                  <img
                    src="../assets/images/38574eba786fcf19be20a3974c281202-office-bag-icon-by-vexels.png"
                  />
                  <h1>ABSLI</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tabber flex-c">
        <div class="tab flex-l"><h1>SELECT STATUS</h1></div>
        <div class="line"></div>
        <div class="boxes">
          <div class="flex-c">
            <img
              src="../assets/images/download-free-png-correct-prompt-correct-right-icon-with-png-and-right-icon-png-512_512.png"
            />
            <h1>EXPLORER</h1>
            <h2>Secondary points</h2>
            <h3>75,000</h3>
          </div>
          <div class="flex-c">
            <img
              class="img2"
              src="../assets/images/download-free-png-correct-prompt-correct-right-icon-with-png-and-right-icon-png-512_512.png"
            />
            <h1>LEVEL 1</h1>
            <h2 class="h2">Total Points</h2>
            <h4>1,45,000</h4>
            <h5>Minimum Secondary Points Needed</h5>
            <h6>20,000</h6>
          </div>
          <div class="flex-c">
            <img
              class="img2"
              src="../assets/images/download-free-png-correct-prompt-correct-right-icon-with-png-and-right-icon-png-512_512.png"
            />
            <h1>LEVEL 2</h1>
            <h2 class="h2">Total Points</h2>
            <h4>2,10,000</h4>
            <h5>Minimum Secondary Points Needed</h5>
            <h6>30,000</h6>
          </div>
          <div class="flex-c">
            <img
              class="img2"
              src="../assets/images/download-free-png-correct-prompt-correct-right-icon-with-png-and-right-icon-png-512_512.png"
            />
            <h1>LEVEL 3</h1>
            <h2 class="h2">Total Points</h2>
            <h4>3,75,000</h4>
            <h5>Minimum Secondary Points Needed</h5>
            <h6>50,000</h6>
          </div>
          <div class="flex-c">
            <img
              class="img2"
              src="../assets/images/download-free-png-correct-prompt-correct-right-icon-with-png-and-right-icon-png-512_512.png"
            />
            <h1>LEVEL 4</h1>
            <h2 class="h2">Total Points</h2>
            <h4>5,25,000</h4>
            <h5>Minimum Secondary Points Needed</h5>
            <h6>70,000</h6>
          </div>
        </div>
      </div>
      <div class="tabber flex-c" style="margin-top: 0">
        <div class="tab flex-l"><h1>BUSINESS DETAILS</h1></div>
        <div class="grid two">
          <div class="box1 flex-u">
            <div class="line11 flex-s">
              <h1>Business Empanelment</h1>
              <div>
                <div class="img"></div>
                <h1>Primary</h1>
              </div>
            </div>
            <div class="grids">
              <div class="cols1">
                <h1>Metric</h1>
                <h2>Disbursement</h2>
              </div>
              <div class="grid2">
                <div class="cols2">
                  <h1>Amount (₹)</h1>
                  <h2>0.00</h2>
                </div>
                <div class="cols2">
                  <h1>Secondary Points</h1>
                  <h2>0</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="box1 flex-u">
            <div class="line11 flex-s">
              <h1>NBFC CMG</h1>
            </div>
            <div class="grids" style="grid-gap: 21px">
              <div class="cols1">
                <h1>Metric</h1>
                <h2>Average Outstanding Loan</h2>
              </div>
              <div class="grid2">
                <div class="cols2">
                  <h1>Amount (₹)</h1>
                  <h2>0.00</h2>
                </div>
                <div class="cols2">
                  <h1>Secondary Points</h1>
                  <h2>0</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="page2">
    <div class="main">
      <div class="tabber flex-c">
        <div class="grid two">
          <div class="box3 flex-u">
            <div class="line11 flex-s" style="background-color: #969f6e">
              <h1>Mutual Fund</h1>
            </div>
            <div class="line12">
              <h1>QAAUM</h1>
              <div class="dottedLine"></div>
            </div>
            <div
              class="grids"
              style="grid-gap: 127px; padding: 0px 34px 0px 25px"
            >
              <div class="cols1">
                <h1>Metric</h1>
                <h2>Equity</h2>
                <h2>Debt</h2>
                <h2>Liquid</h2>
                <h2>PMS</h2>
              </div>
              <div class="grid2">
                <div class="cols2">
                  <h1>Amount (₹)</h1>
                  <h2>XX,XX,XXX</h2>
                  <h2>XX,XXX</h2>
                  <h2>XX,XX,XXX</h2>
                  <h2>XX,XXX</h2>
                </div>
                <div class="cols2">
                  <h1>Secondary Points</h1>
                  <h2>XX,XXX</h2>
                  <h2>XX,XXX</h2>
                  <h2>XX,XXX</h2>
                  <h2>XX,XXX</h2>
                </div>
              </div>
            </div>
            <div class="lineb">
              <div class="dottedLine"></div>
              <div>
                <h1>Total Points</h1>
                <h2>XX,XXX</h2>
              </div>
            </div>
          </div>
          <div class="box3 flex-u">
            <div class="line11 flex-s" style="background: #da9089">
              <h1>Life Insurance</h1>
            </div>
            <div class="line12">
              <h1>Individual</h1>
              <div class="dottedLine"></div>
            </div>
            <div
              class="grids"
              style="grid-gap: 145px; padding: 0px 34px 0px 25px"
            >
              <div class="cols1">
                <h1>Metric</h1>
                <h2>FYC</h2>
                <h2>FYP</h2>
              </div>
              <div class="grid2">
                <div class="cols2">
                  <h1>Amount (₹)</h1>
                  <h2>XX,XX,XXX</h2>
                  <h2>XX,XX,XXX</h2>
                </div>
                <div class="cols2">
                  <h1>Primary Points</h1>
                  <h2>XX,XXX</h2>
                  <h2>XX,XXX</h2>
                </div>
              </div>
            </div>
            <div class="line12">
              <h1>Group</h1>
              <div class="dottedLine"></div>
            </div>
            <div
              class="grids"
              style="grid-gap: 95px; padding: 0px 34px 0px 25px"
            >
              <div class="cols1">
                <h1>Metric</h1>
                <h2>Term</h2>
                <h2>Fund Traditional</h2>
                <h2>Fund ULIP</h2>
              </div>
              <div class="grid2">
                <div class="cols2">
                  <h1>Amount (₹)</h1>
                  <h2>XX,XXX</h2>
                  <h2>XX,XX,XXX</h2>
                  <h2>XX,XXX</h2>
                </div>
                <div class="cols2">
                  <h1>Primary Points</h1>
                  <h2>XX,XXX</h2>
                  <h2>XX,XXX</h2>
                  <h2>XX,XXX</h2>
                </div>
              </div>
              <div class="lineb" style="padding: 45px 0px 2px 0px">
                <div class="dottedLine"></div>
                <div>
                  <h1>Total Points</h1>
                  <h2>XX,XXX</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="box3 flex-u" style="height: 376px">
            <div class="line11 flex-s" style="background: #da9089">
              <h1>Health Insurance</h1>
            </div>
            <div class="line12">
              <h1>Individual</h1>
              <div class="dottedLine"></div>
            </div>
            <div
              class="grids"
              style="grid-gap: 129px; padding: 0px 34px 0px 25px"
            >
              <div class="cols1">
                <h1>Metric</h1>
                <h2>FYP</h2>
              </div>
              <div class="grid2">
                <div class="cols2">
                  <h1>Amount (₹)</h1>
                  <h2>XX,XX,XXX</h2>
                </div>
                <div class="cols2">
                  <h1>Secondary Points</h1>
                  <h2>XX,XXX</h2>
                </div>
              </div>
            </div>
            <div class="line12">
              <h1>Group</h1>
              <div class="dottedLine"></div>
            </div>
            <div
              class="grids"
              style="grid-gap: 145px; padding: 0px 34px 0px 25px"
            >
              <div class="cols1">
                <h1>Metric</h1>
                <h2>FYC</h2>
              </div>
              <div class="grid2">
                <div class="cols2">
                  <h1>Amount (₹)</h1>
                  <h2>XX,XX,XXX</h2>
                </div>
                <div class="cols2">
                  <h1>Primary Points</h1>
                  <h2>XX,XXX</h2>
                </div>
              </div>
              <div class="lineb" style="padding: 45px 0px 2px 0px">
                <div class="dottedLine"></div>
                <div>
                  <h1>Total Points</h1>
                  <h2>XX,XXX</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-cc">
        <div class="bar flex-s">
          <div class="left flex-rr">
            <img src="../assets/images/leaf.png" />
            <h1>To reach your next level</h1>
          </div>
          <div class="right flex">
            <div class="texts">
              <h1>Total points needed</h1>
              <h2>xx,xxx</h2>
            </div>
            <div class="dotted"></div>
            <div class="texts">
              <h1>Minimum secondary points needed</h1>
              <h2>xx,xxx</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="matter">
        <h1>HONOURED Criteria</h1>
        <p>
          1. Mutual Fund points will be considered to maximum of 50% of the
          HONOURED Level.
        </p>
        <p>
          2. In ABSLAMC, the other criteria like Market Share, Positive Net
          sales etc will be applied on 31st March 2021 on all primary advisors.
        </p>
        <p>
          3. In ABSLI, the other criteria like Persistency, Surrender/Withdrawal
          etc will be applied on 31st March 2021 on all primary advisors.
        </p>
        <h1 style="margin-top: 23px">Primary Business Requirement</h1>
        <p style="padding: 1vh 0vh; width: 874px">
          All businesses have laid down minimum primary business targets to
          achieve by the advisors in primary business. We call all such targets
          as primary business requirements.
        </p>
        <p>
          Achievement of the primary business gate requirement is one of the
          qualification criteria for HONOURED.
        </p>
      </div>
    </div>
  </div>
  <div id="page3">
    <div class="main">
      <div class="contain">
        <div class="image"></div>
      </div>
      <div class="matter" style="padding-top: 0">
        <h1 style="margin-left: 2px">Currency</h1>
        <p
          style="
            margin-left: 2px;
            margin-top: 7px;
            width: 866px;
            line-height: 8vh;
          "
        >
          SELECT currency is 1-unit point which will get allotted against the
          business mobilized by you in both Primary and Secondary business.
          Every business has different parameters for allotting SELECT
          currency(tabulated below)
        </p>
      </div>
    </div>
  </div>
  <div id="page4">
    <div class="main">
      <div class="contains">
        <div class="images"></div>
      </div>
    </div>
  </div>
</div>

<button (click)="download()">Download</button>

<router-outlet></router-outlet>
